{  
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/no-unused-prop-types": [1, { "customValidators": [], "skipShapeProps": true }]
  }
}